html {
  cursor: url(/light/pointer.cur), pointer;
}

blockquote, html[data-theme=dark] blockquote {
  color: white;
  border: 5px solid transparent;
  border-radius: 5px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

blockquote img, html[data-theme=dark] blockquote img {
  display: inline-block;
  position: relative;
  transform: translateX(-3px);
  vertical-align: middle;
  height: 1rem;
  margin-right: .2rem;
  overflow: hidden;
}

blockquote[alt="black-alt"] {
  color: white;
  border: 5px solid transparent;
  border-radius: 5px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, #596164, #868f96), linear-gradient(90deg, #596164, #868f96);
}

blockquote[alt="black-alt"] img {
  display: inline-block;
  position: relative;
  transform: translateX(-3px);
  vertical-align: middle;
  height: 1rem;
  margin-right: .2rem;
  overflow: hidden;
}

blockquote[alt="orange-alt"] {
  color: white;
  border: 5px solid transparent;
  border-radius: 5px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, #fc6076, #ff9a44), linear-gradient(90deg, #fc6076, #ff9a44);
}

blockquote[alt="orange-alt"] img {
  display: inline-block;
  position: relative;
  transform: translateX(-3px);
  vertical-align: middle;
  height: 1rem;
  margin-right: .2rem;
  overflow: hidden;
}

blockquote[alt="blue-alt"] {
  color: white;
  border: 5px solid transparent;
  border-radius: 5px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, #4481eb, #04befe), linear-gradient(90deg, #4481eb, #04befe);
}

blockquote[alt="blue-alt"] img {
  display: inline-block;
  position: relative;
  transform: translateX(-3px);
  vertical-align: middle;
  height: 1rem;
  margin-right: .2rem;
  overflow: hidden;
}

blockquote[alt="green-alt"] {
  color: white;
  border: 5px solid transparent;
  border-radius: 5px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, #0ba360, #8ed451), linear-gradient(90deg, #0ba360, #8ed451);
}

blockquote[alt="green-alt"] img {
  display: inline-block;
  position: relative;
  transform: translateX(-3px);
  vertical-align: middle;
  height: 1rem;
  margin-right: .2rem;
  overflow: hidden;
}

blockquote[alt="purple-alt"] {
  color: white;
  border: 5px solid transparent;
  border-radius: 5px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, #8F41E9, #578AEF), linear-gradient(90deg, #8F41E9, #578AEF);
}

blockquote[alt="purple-alt"] img {
  display: inline-block;
  position: relative;
  transform: translateX(-3px);
  vertical-align: middle;
  height: 1rem;
  margin-right: .2rem;
  overflow: hidden;
}
