// place your custom styles here
$sub-color: #8e8e8e;
$blockquote-color:none;

html {
    cursor: url(/light/pointer.cur),pointer;
    // scrollbar-color:$sub-color rgba(0, 0, 0, 0.2);
    // scrollbar-width: auto;
}

// blockquote style , default single color

@mixin blockquote-common {
    color: white;
    border: 5px solid transparent;
    border-radius: 5px;
    padding:.8rem;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

@mixin blockquote-img {
    display: inline-block;
    position: relative;
    transform: translateX(-3px);
    vertical-align: middle;
    height: 1rem;
    margin-right: .2rem;
    overflow: hidden;
}

blockquote,html[data-theme=dark] blockquote{
    @include blockquote-common(); 
    img {
        @include blockquote-img();
    }
}

blockquote[alt="black-alt"] {
    @include blockquote-common(); 
    background-image: linear-gradient(to right, #596164, #868f96), linear-gradient(90deg, #596164, #868f96); 
    img {
        @include blockquote-img();
    }
}

blockquote[alt="orange-alt"]{
    @include blockquote-common(); 
    background-image: linear-gradient(to right, #fc6076, #ff9a44), linear-gradient(90deg, #fc6076, #ff9a44); 
    img {
        @include blockquote-img();
    }
}

blockquote[alt="blue-alt"]{
    @include blockquote-common();
    background-image: linear-gradient(to right, #4481eb, #04befe), linear-gradient(90deg, #4481eb, #04befe); 
    img {
        @include blockquote-img();
    }
}

blockquote[alt="green-alt"]{
    @include blockquote-common(); 
    background-image: linear-gradient(to right, #0ba360, #8ed451), linear-gradient(90deg, #0ba360, #8ed451); 
    img {
        @include blockquote-img();
    }
}

blockquote[alt="purple-alt"]{
    @include blockquote-common(); 
    background-image: linear-gradient(to right, #8F41E9, #578AEF), linear-gradient(90deg, #8F41E9, #578AEF); 
    img {
        @include blockquote-img();
    }
}

li::marker {
    color: $sub-color;
}

hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: $sub-color;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

// dark mode
html[data-theme=dark]{
    cursor: url(/dark/pointer.cur),auto;
    blockquote {
        @include blockquote-common();
    }
}

em {
    font-style: normal;
    border-bottom: 4px dotted $sub-color;
}

u {
    text-decoration-style: wavy;
    text-decoration-line: underline;
    text-decoration-color: $sub-color;
}

strong {
    color: $sub-color;
}