html {
  cursor: url(/light/pointer.cur), pointer;
}

blockquote[alt="black"] {
  border: 8px solid transparent;
  border-radius: 8px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, #596164, #868f96), linear-gradient(90deg, #596164, #868f96);
  color: white;
}

blockquote[alt="black"] img {
  display: inline-block;
  position: relative;
  transform: translateX(-3px);
  vertical-align: middle;
  height: 1rem;
  margin-right: .2rem;
  overflow: hidden;
}

blockquote[alt="orange"] {
  border: 8px solid transparent;
  border-radius: 8px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, #fc6076, #ff9a44), linear-gradient(90deg, #fc6076, #ff9a44);
  color: white;
}

blockquote[alt="orange"] img {
  display: inline-block;
  position: relative;
  transform: translateX(-3px);
  vertical-align: middle;
  height: 1rem;
  margin-right: .2rem;
  overflow: hidden;
}

blockquote[alt="blue"] {
  border: 8px solid transparent;
  border-radius: 8px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, #4481eb, #04befe), linear-gradient(90deg, #4481eb, #04befe);
  color: white;
}

blockquote[alt="blue"] img {
  display: inline-block;
  position: relative;
  transform: translateX(-3px);
  vertical-align: middle;
  height: 1rem;
  margin-right: .2rem;
  overflow: hidden;
}

blockquote[alt="green"] {
  border: 8px solid transparent;
  border-radius: 8px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, #0ba360, #8ed451), linear-gradient(90deg, #0ba360, #8ed451);
  color: white;
}

blockquote[alt="green"] img {
  display: inline-block;
  position: relative;
  transform: translateX(-3px);
  vertical-align: middle;
  height: 1rem;
  margin-right: .2rem;
  overflow: hidden;
}
